node_modules/
*.log
*.env
.DS_Store
.next/
out/
npm-debug.log
yarn-error.log
.vscode/
*.swp
*.swo
*.idea/
*.iml
*.lock
*.sqlite
*.db
*.tgz
*.zip
*.tar
*.gz
*.bak
*.tmp
*.test.js
*.test.ts
coverage/
build/
dist/
@next/swc-darwin-x64/next-swc.darwin-x64.node

